<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021 TinaTiel. This file is part of the OBS Chatbot project which is released under
  ~ GNU General Public License v3.0. See LICENSE or go to https://fsf.org/ for more details.
  -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="com.tinatiel.obschatbot.core" level="DEBUG"/>
    <logger name="com.tinatiel.obschatbot.core.commandRequest.dispatch" level="TRACE"/>
    <logger name="org.apache.http" level="DEBUG" />
    <logger name="httpclient.wire" level="DEBUG" />
    <logger name="mockserver" level="DEBUG" />
    <logger name="org.springframework.web.reactive.function.client.ExchangeFunctions" level="TRACE" />
</configuration>